/* Tags */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin  : 0;
    width: 110%;
}

h1 {
    margin-top: 0;
    margin-bottom: 5px;
    font-family: 'Courier New', Courier, monospace;
}

hr {
    border-block-color: darkgreen;
    width: 85%;
}

small {
    font-style: italic;
    font-family: sans;
}

a {
    color: rgb(0, 93, 0);
    font-weight: bold;
}

header {
    background-color: rgb(29, 53, 0);
    color: wheat;
    margin: 0;
    text-align: center;
    padding: 15px;
}

section {
    padding: 5px;
    background-color: rgb(179, 197, 95);
    text-align: center;
    flex: 1;
}

footer {
    padding: 15px;
    background-color: rgb(123, 123, 123);
    display: flex;
    flex-direction: column;
    align-items: center;
}

li {
    list-style-type: none;
    margin: 15px;
}

/* classes */
.measure {
    width: 70px;
    margin-left: 10px;
}

.products {
    display: flex;
    justify-content: center;
}

.errs {
    display: none;
    background-color: darkred;
    color: white;
}

/* ID */
#process {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#count {
    max-height: fit-content;
}

.gombok {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.cks {
    padding: 0;
}

#buy {
    display: none;
}

#save {
    display: none;
}

#sum {
    margin-left: 10px;
}

#aloldal {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

aside {
    min-width: 200px;
    min-height: fit-content;
    margin-top: 5%;
}

.nopad {
    padding: 0;
}

.main-liner {
    color: wheat;
    text-align: center;
    text-decoration: none;
}

#changing {
    flex: 1;
    margin-left: 0px;
    padding-right: 15%;
    padding-left: 15%;
}

.fonts {
    font-size: 120%;
}

ul {
    padding: 0;
}
